<p>Welcome to the Foundation Kitchen Sink Middleman template.  The goal of this template is to provide a an overview of what can be accomplished with Foundation and Middleman.  Slice and dice it to make your own website.</p>
